* {
    box-sizing: border-box;

    --blue-main: #4285F4;
    --white-light: #F1F3F4;
    --blue-light: #D2E3FC;

}

body {

    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100%;

    display: grid;
    grid-template-columns: 240px 1fr;


    sidebar {
        background-color: var(--blue-main);

        padding: 20px;

        display: flex;
        flex-direction: column;
        gap: 20px;


        .sidebar-item {
            border-radius: 12px;

            padding: 18px;

            background-color: var(--blue-light);

            ul {
                padding: 5px;
                list-style: none;
            }
        }

        
    }


    container {

        display: grid;
        grid-template-rows: 64px 1fr;

        background-color: var(--content-blue-light);

        header {

            grid-row: 1;

            font-size: 32px;

            padding: 10px 20px;

            vertical-align: center;

            background-color: var(--blue-light);
        }

        content {

            grid-row: 2;

            padding: 20px;

            &.all-projects {

                display: grid;
                grid-template-rows: repeat(3, 300px);
                grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
                gap: 20px;

                

            }

            card {
                background-color: var(--blue-light);

                padding: 20px;

                border-radius: 12px;
            }

        }
    }
}

