* {
    box-sizing: border-box;
    --blue-main: #4285F4;
    --red-main: #EA4335;
    --yellow-main: #FBBC04;
    --white-light: #F1F3F4;
    --blue-light: #b7d4ff;
    --yellow-light: #ffecb3;
    --red-light: #ffc4c0;

    --minor-gap: 10px;
    --major-gap: 20px;
    --double-gap: 40px;

}

@font-face {
    font-family: 'allerbold';
    src: url('./fonts/aller_bd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'allerregular';
    src: url('./fonts/aller_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {

    font-family: 'allerregular';

    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100%;

    display: flex;


    button {
        padding: 8px 10px;
        font-family: 'allerregular';
        font-size: large;
        color: var(--white-light);
        background-color: var(--blue-main);
        border: none;
        border-radius: 8px;
    }
    
    sidebar {

        width: 260px;
        overflow: auto;
        scrollbar-width: thin;
        
        background-color: var(--blue-main);
        padding: var(--major-gap);

        display: flex;
        flex-direction: column;
        gap: 20px;            
        position: sticky;
        top: var(--major-gap);

        h1 {
            margin: 0;
            margin-bottom: var(--major-gap);
        }

        button {
            padding: 8px 10px;
            font-family: 'allerregular';
            font-size: large;
            color: var(--white-light);
            background-color: var(--blue-main);
            border: none;
            border-radius: 8px;
        }

        .sidebar-item {
            border-radius: 12px;

            padding: 18px;

            background-color: var(--blue-light);

            &.upcoming {

                h1 {
                    margin: 0;
                }
            }

            ul {

                list-style: none;
                
                display: grid;
                gap: var(--minor-gap);

                margin: 0;
                margin-top: var(--major-gap);

                padding: 0;

                max-height: 200px;
                overflow-y: scroll;
                scrollbar-width: none;

                
                li {
                    text-wrap: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    padding-left: 0;
                    padding: var(--minor-gap); 
                    border-radius: var(--minor-gap);
                    background-color: var(--white-light);
                }

            }
        }

        
    }


    container {
        width: calc(100vw - 250px);
        display: grid;
        grid-template-rows: 120px 1fr;

        position: relative;

        header {

            grid-row: 1;

            display: flex;
            align-items: center;
            
            font-size: 32px;
            
            padding: var(--minor-gap) var(--major-gap);
            margin: var(--major-gap);
            
            border-bottom: 12px solid var(--blue-main);
            border-radius: 12px;

            background-color: var(--blue-light);

            position: sticky;
            top: 0;
            
        }

        content {

            grid-row: 2;
            padding: var(--major-gap) var(--double-gap);

            overflow: auto;

            &.all-projects {

                display: grid;
                grid-template-rows: repeat(3, 300px);
                grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
                gap: var(--major-gap);

            }

            card {
                background-color: var(--blue-light);
                padding: var(--major-gap);
                border: 4px solid var(--blue-main);
                border-radius: 16px;

                h3 {
                    margin: 0;
                }

                display: grid;
                grid-template-rows: 24px 1fr 50px;
                grid-template-areas:
                    "name"
                    "desc"
                    "options"
                ;

                & .description {
                    color: rgb(56, 56, 56);
                }

                & .options {
                    display: flex;
                    align-items: center;
                    gap: var(--minor-gap);
                    justify-content: right;

                    & #delete-btn {
                        background-color: var(--red-main);
                    }
                }

            }

            ul {
                padding: 0;
            }


            li.task-bullet{
                list-style: none;

                display: grid;
                grid-template: 1fr 1fr / 120px 1fr 120px;
                grid-template-areas:
                    "options title info"
                    "options desc info"
                ;
                gap: var(--minor-gap);

                background-color: var(--blue-light);

                margin-bottom: var(--major-gap);
                padding: var(--minor-gap) var(--major-gap);

                border-left: 12px solid var(--blue-main);
                border-radius: 12px;

                h3 {
                    grid-area: title;
                    margin: 0;
                }

                & > p {
                    grid-area: desc;
                }

                .options {
                    grid-area: options;
                }

                .info {
                    grid-area: info;
                }

                &.tomorrow {
                    background-color: var(--yellow-light);
                    border-left: 12px solid var(--yellow-main);
                }

                &.today {
                    background-color: var(--red-light);
                    border-left: 12px solid var(--red-main);
                }

                p {
                    margin: 0;
                }

            }

        }
    }
}

